<h5>Listing of Departments</h5>
<button (click)="getData()">Get Data</button>

  <!-- <div class="container">
    <table class="table table-bordered table-striped table-dark">
       <thead>
          <tr>
            <th>Dept No</th>
            <th>Dept Name</th>
            <th>Location</th>
            <th>Capacity</th>
          </tr>
       </thead>
       <tbody>
           @for (dept of departments$ | async; track $index) {
             <tr>
                <td>{{dept.DeptNo}}</td>
                <td>{{dept.DeptName}}</td>
                <td>{{dept.Location}}</td>
                <td>{{dept.Capacity}}</td>
             </tr>
           }
       </tbody>
    </table>
  </div> -->



